.item-enter,
.item-appear {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.item-appear-active,
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active,
.item-exit {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
