@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap&subset=cyrillic');
$title-font: 'Roboto Slab', serif; // for Title-block
$title-size: 36px;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic');
$content-font: 'Roboto', sans-serif;
