@import '../../scss/fonts';

.footer {
  width: 100%;
  height: 470px;
  background: #123046;
  color: #fff;
  padding-top: 45px;
  flex-direction: column;

  &-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-bottom {
    margin-top: 48px;
    text-align: center;
    width: 100%;

    & * {
      font-family: $content-font;
      font-size: 18px;
      line-height: 23px;
      color: #fff;
    }
  }

  &__contact-block {
    max-width: 225px;
    margin-right: 50px;
  }

  &__map-block {
    width: 700px;
    height: 325px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  }

  &__form-block {
    width: 562px;
    height: 325px;

    & input {
      width: 98%;
      height: 40px;
      font-size: 18px;
      margin-bottom: 8px;
    }
    & .form-message {
      height: 135px;
      width: 97.5%;
      resize: none;
      font-size: 20px;
    }

    & .form-recaptcha {
      transform: scale(0.9);
      transform-origin: 0 0;
      width: 280px;
    }

    & .form-btn-send {
      height: 40px;
      width: 200px;
      margin-right: 45px;
      margin-top: 13px;
      font-family: $title-font;
      font-size: 18px;
      font-weight: bold;
      background: #f7941e;
      border: none;
      transition: 0.2s;
      &:hover {
        filter: brightness(120%);
      }
      &:active {
        filter: brightness(60%);
        color: #fff;
      }
    }

    & .form-btn-flex {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      width: 560px;
    }
  }
}

// Contacts (numbers phone, adress, email...)

.contact-block {
  &__title {
    font-family: $title-font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 33px;
    margin-bottom: 25px;
  }

  &__phones,
  &__adress,
  &__email {
    display: flex;
    justify-content: space-between;
    font-family: $content-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 35px;
    position: relative;
  }

  &__phones {
    width: 145px;

    &-numbers a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__email {
    width: 162px;

    & a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__social-icons {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;

    & a * {
      fill: #fff;
      transition: transform 250ms;
    }
    & a:hover * {
      // fill: #f7941e;
      transform: translateY(-3px);
    }
  }
}
